.homepageContainer {
    display: flex;
    
}

.homepageSidebarContainer {
    position: fixed;
    margin-top: 5rem;
    height: 100%;
}



.homepageContent {
    margin-top: 5rem;
    border: 1px solid black;
    overflow-x: hidden; 
    position: fixed; 
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;

}



.button__container{
    display: inline-block;
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border: none;
    flex-wrap: wrap;
}

.typeContainer {
    padding-left: 200px; 
}

.divContainer {
    display: flex;
    margin: 56px;
    gap: 8px;
    
    
}

.heading {
    margin : 56px 0px 0px 48px
}

.button__container{
    display: inline-block;
    margin: 24px 0px 24px 56px;
}

.componentContainer{
    display: inline-block;
    margin: 24px 0px 24px 56px;
}


@media screen and (max-width : 576px){
    .homepageSidebarContainer {
       display: none;
    }
    .homepageContent{
        left: 0;
        width: 100%;
    }
    .typeContainer{
        padding: 0px 24px;
    }
    .divContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0px 12px 0px 0px ;
        
    }

}